<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJhDHWBZGumTAXT7n7hNsmf8gScNGeTUE</string>
	<key>GCM_SENDER_ID</key>
	<string>578568155957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testflutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-flutter-api</string>
	<key>STORAGE_BUCKET</key>
	<string>project-flutter-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578568155957:ios:80cad8dfd5106a6346127c</string>
</dict>
</plist>